.gallery {
	margin: 5px;
	float: left;
	width: 42%;
}

.gimg {
	width: 150px;
	height: 100px;
}

.desc {
	padding: 15px;
	text-align: center;
	position: absolute;
	background: #4aaaa5;
	width: 150px;
	color: #ffffff;
}

.new-line {
	clear: both;
}

.complete-gallery {
	width: 610px;
	padding: 10px;
}